@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@font-face{
    font-family: 'Fira Code';
    src: url('../fonts/FiraCode-Regular.otf');
}

@font-face{
    font-family: 'Fira Code';
    src: url('../fonts/FiraCode-Bold.otf');
    font-weight: bold;
}
