#navbar {
  #navbar-top {
    text-align: center;
  }

  .navbar-header {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .nav {
    display: inline-block;
    float: none;
    font-family: 'Fira Code';
  }
}
