@import './prologue/main';

.align-left {
  text-align: left;
}

#top .container {
  background-color: rgba(130, 130, 130, .5) !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
